@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    font-family: 'MedievalSharp', cursive;
    background: url("../assets/background.svg")  no-repeat center center fixed;;
    background-size: cover;
    color: #fff;
    padding: 3rem;
    max-width: 80rem;
    margin: auto;
    align-items: center;
}


input, select, textarea {
    display: block;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
    font-size: 1.6rem;
    border: 0.2rem solid #4e23f9;
    border-radius: 0.5rem;
    background-color: #d4cfc2;
    color: #000;
}

button {
    padding: 1rem 2rem;
    font-size: 1.6rem;
    margin-top: 1rem;
    background-color: #481060;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0,0,0,0.5);
}

button:hover {
    background-color: #ad22e8;  
}

p{
    font-size: 1.6rem;
}

h2 {
    font-size: 3.2rem;
    color: #da83ff;
    margin-top: 3rem;
    text-shadow: 0.1rem 0.1rem 0.2rem #000;
}

.personagem, .item {
    background-color: rgba(0, 0, 0, 0.433);
    border: 0.2rem solid #4e23f9;
    border-radius: 1rem;
    padding: 1.5rem;
    margin-top: 2rem;
    font-size: 1.6rem;
}

.personagem h3 {
    font-size: 2rem;
    color: #da3ff2;
    margin-bottom: 1rem;
}

ul {
    margin-top: 1rem;
    list-style: square;
    padding-left: 2rem;
}
  
li {
    margin-bottom: 0.5rem;  
    font-size: 1.6rem;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
  
.popup {
    background-color: #1b1b1b;
    border: 0.2rem solid #4e23f9;
    padding: 2rem;
    width: 90%;
    max-width: 60rem;
    border-radius: 1rem;
    box-shadow: 0 0 2rem #000;
    font-family: 'MedievalSharp', cursive;
    color: #fff;
    position: relative;
}
  
.popup h3 {
    color: #e38cf0;
    margin-bottom: 1rem;
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 2.5rem;
    cursor: pointer;
    color: #f92323;
}
  
.hidden {
    display: none;
}
  
  
#resultadoBusca, #resultadoItemBusca, #resultadoAmuleto, #resultadoAtualizacao {
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgba(65, 65, 65, 0.447);
    border: 0.1rem solid #4e23f9;
    border-radius: 0.5rem;
    font-size: 1.6rem;
}